@charset "UTF-8";
  h1{
    font-size:5vw;
    width: 80vw;
    margin:10px auto 10px auto;
  }
  ul {
    width: 80vw;
    padding:0;
    margin:0 auto 0 auto;
    list-style: none;
  }
  button {
    font-size: 20px;
    width: 80vw;
    margin:10px auto 10px auto;
  }
  form {
    width: 80vw;
    margin:10px auto 10px auto;
  }

  .parent{
    border-top: 1px solid black;
    width: 80vw;
    margin:0 auto 0 auto;
    padding-top: 10px;
    padding-bottom: 10px
  }
  .child {
   padding:10px 0 10px 0;    
  }
  .child img{
    width: 80vw;
  }


 



